#section-form,
#main-header {
    min-height: 10vh;
}

#todos-main{
    min-height: calc(100vh - 102.6px);
    background-color: #001533;
}


#title-logo{
    font-size: 4rem;
}

#section-todos{
    min-height: 30vh;
}

#logo{
    max-width: 30%;
}


@media (min-width: 768px) { 
    #logo{
        max-width: 50%;
    }
}

