#section-form,
#main-header {
    min-height: 10vh;
}

#todos-main{
    min-height: calc(100vh - 10vh);
    background-color: #001533;
}

#logo{
    max-width:50%;
}
#title-logo{
    font-size: 4rem;

}

#section-todos{
    min-height: 30vh;
    border: 1px solid snow;
}