body{
    background-color: #001533;
}

#section-form,
#main-header {
    min-height: 10vh;
}


#title-logo{
    font-size: 4rem;
}

#section-todos{
    min-height: 30vh;
}

#logo{
    max-width: 30%;
}

.bg-bool{
    background-color: #001533;

}

@media (min-width: 768px) { 
    #logo{
        max-width: 50%;
    }
}

